<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.BoardMapper">

  <insert id="insert">

    <selectKey order="AFTER" keyProperty="bno"
      resultType="long">
      SELECT LAST_INSERT_ID()
    </selectKey>

    INSERT INTO tbl_board (title, content, writer)
    VALUES (#{title},
    #{content}, #{writer})
  </insert>

  <select id="selectOne" resultType="BoardDTO">
    SELECT *
    FROM tbl_board
    WHERE
    bno = #{bno}
  </select>

  <update id="remove">
    UPDATE tbl_board
    SET delflag = true
    WHERE bno = #{bno}
  </update>

  <update id="update">
    UPDATE tbl_board
    SET title = #{title},
    content =
    #{content},
    updatedate = now(),
    delflag = #{delFlag}
    WHERE bno = #{bno}
  </update>

  <select id="list" resultType="BoardDTO">
    SELECT bno, title, writer, regDate
    FROM tbl_board
    WHERE delflag = false
    ORDER BY bno DESC
  </select>

  <select id="list2" resultType="BoardDTO">
    SELECT
    bno, title, writer, regDate
    FROM tbl_board
    WHERE delflag = false
    ORDER BY bno DESC
    LIMIT #{count}
    OFFSET #{skip}
  </select>

  <select id="listCount" resultType="int">
    SELECT count(bno)
    FROM
    tbl_board
    WHERE delFlag = false
  </select>

  <sql id="search">
    <if test="types != null and keyword != null ">
      <foreach collection="types" item="type" open="AND ("
        close=")" separator=" OR ">
        <if test='type.equals("T")'>
          title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test='type.equals("C")'>
          content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test='type.equals("W")'>
          writer LIKE CONCAT('%', #{keyword}, '%')
        </if>
      </foreach>
    </if>
  </sql>

  <select id="listSearch" resultType="BoardDTO">
    SELECT board.bno, title, content, writer, regDate, board.updatedate,
    COUNT(rno) AS replyCnt
    FROM tbl_board AS board LEFT OUTER JOIN
    tbl_reply AS reply
    ON reply.bno = board.bno

    <include refid="search"></include>

    GROUP BY board.bno
    ORDER BY board.bno DESC
    LIMIT #{skip}, #{count}
  </select>

  <select id="listCountSearch" resultType="int">
    SELECT count(bno)
    FROM tbl_board
    WHERE delFlag = false
    <include refid="search"></include>
  </select>

</mapper>
