<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">

	<insert id="insert">

		<selectKey order="AFTER" keyProperty="bno" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>

		insert into tbl_board (title, content,writer) values (#{title},
		#{content}, #{writer})

	</insert>

	<select id="selectOne" resultType="BoardDTO">
		SELECT * FROM tbl_board WHERE
		bno = #{bno}

	</select>

	<update id="remove">

		UPDATE tbl_board SET delflag = true WHERE bno =
		#{bno}

	</update>


	<update id="update">

		UPDATE tbl_board
		SET title = #{title} , content =
		#{content}, updatedate = now(), delflag
		= #{delFlag}
		WHERE bno = #{bno}

	</update>

	<select id="list" resultType="BoardDTO">

		SELECT bno, title, writer, regDate
		FROM tbl_board
		WHERE delflag = false
		ORDER BY bno desc

	</select>

	<select id="list2" resultType="BoardDTO">

		SELECT bno, title, writer, regDate
		FROM tbl_board
		WHERE delflag = false
		ORDER BY bno desc
		LIMIT #{count}
		OFFSET #{skip}
	</select>


	<select id="listCount" resultType="int">

		SELECT count(bno) FROM
		tbl_board where delFlag = false

	</select>

	<sql id="search">

		<if test="types != null and keyword != null">
			<foreach collection="types" item="type" open="AND ("
				close=")" separator=" OR ">

				<if test='type.equals("T")'>
					title like CONCAT('%',#{keyword},'%')
				</if>
				<if test='type.equals("C")'>
					content like CONCAT('%', #{keyword}, '%')
				</if>
				<if test='type.equals("W")'>
					writer like CONCAT('%', #{keyword}, '%')
				</if>
			</foreach>
		</if>

	</sql>


	<select id="listSearch" resultType="BoardDTO">
		SELECT b.bno, title, content, writer, regDate, b.updatedate, COUNT(r.rno) replyCnt
		FROM tbl_board AS b LEFT OUTER JOIN tbl_reply AS r
		ON b.bno = r.bno
		<include refid="search"></include>
		GROUP BY b.bno
		ORDER BY b.bno DESC
		limit #{skip}, #{count};
	</select>


	<select id="listCountSearch" resultType="int">

		SELECT count(bno) FROM tbl_board where delFlag = false

		<include refid="search"></include>

	</select>





</mapper>

