<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
        id="WebApp_ID"
        version="6.0">
        <display-name>sp1</display-name>

        <!-- p. 34 톰캣이 이 파일을 읽을 수 있게 리스너 -->
        <listener>
                <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
        </listener>
        <context-param>
                <param-name>contextConfigLocation</param-name>
                <param-value>/WEB-INF/spring/root-context.xml</param-value>
        </context-param>
        <!-- // p. 34 톰캣이 이 파일을 읽을 수 있게 리스너 -->

        <!-- p. 37 톰캣에서 스프링프레임워크가 같이 실행될 수 있도록 -->
        <servlet>
                <servlet-name>appServlet</servlet-name>
                <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
                <init-param>
                        <param-name>contextConfigLocation</param-name>
                        <param-value>/WEB-INF/spring/servlet-context.xml</param-value>
                </init-param>
                <load-on-startup>1</load-on-startup>
                <!-- p. 273 파일 전송 설정 -->
                <multipart-config>
                        <max-file-size>20971520</max-file-size>
                        <max-request-size>41943040</max-request-size>
                        <file-size-threshold>20971520</file-size-threshold>
                </multipart-config>
                <!-- p. 273 파일 전송 설정 -->
        </servlet>
        <servlet-mapping>
                <servlet-name>appServlet</servlet-name>
                <url-pattern>/</url-pattern>
        </servlet-mapping>
        <!-- // p. 37 톰캣에서 스프링프레임워크가 같이 실행될 수 있도록 -->

</web-app>
